.maindiv {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8.5rem 0;
  overflow-x: hidden;
}
.cardholder {
  display: flex;
  justify-content: space-between;
  gap: 7.5rem;
  max-width: 71.25rem;
  align-items: stretch;
}
@media (max-width: 1366px) {
  .cardholder {
    gap: 5rem;
  }
}
@media (max-width: 1200px) {
  .cardholder {
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  .cardholder {
    flex-direction: column;
    gap: 10rem;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 768px) {
}
