.mainDiv {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  overflow-x: hidden;
  padding: 0 4rem;
}
.topDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 7.8rem; */
}
.headingContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* gap: 0.9rem; */
}
.headingDiv {
  width: 33.8rem;
}
.headingDiv h1 {
  font-weight: 700;
  font-size: 4rem;
  background: linear-gradient(
    190deg,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0
  );
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}
.headingDiv h2 {
  font-weight: 600;
  font-size: 4rem;
  color: #afafaf;
}
.topDiv p {
  width: 40.25rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #afafaf;
  word-spacing: 0.5rem;
  text-align: justify;
  opacity: 0.7;
  background: transparent;
}
.cardMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.loadmore {
  color: white;
  width: max-content;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: underline;
}

.colorText {
  font-weight: 700;
  font-size: 5rem;
  background: linear-gradient(
    190deg,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0
  );
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 20s linear infinite;
  margin-right: 0.9rem;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}
.kind{
  font-size: 2.25rem;
  color: #afafaf;
  font-weight: 500;
}


@media (max-width: 1440px) {
  /* .topDiv {
    gap: 6rem;
  } */
  .colorText {
    font-size: 4.5rem;
  }
}
@media (max-width: 1366px) {
  /* .topDiv {
    gap: 1.5rem;
  }
  .headingDiv {
    width: 30rem;
  }
  .headingDiv h1 {
    font-size: 3.5rem;
  }
  .headingDiv h2 {
    font-size: 3.5rem;
  }
  .topDiv p {
    width: 38rem;
  } */
  .colorText {
    font-size: 4rem;
  }
  .mainDiv{
  padding: 0 3rem;
  }
  .kind{
    font-size: 2.25rem;
  }
}
@media (max-width: 1220px) {
  /* .headingDiv {
    width: 26rem;
  }
  .topDiv p {
    width: 31rem;
  } */
  .colorText {
    font-size: 3.5rem;
  }
  .mainDiv{
    padding: 0 2rem;
    }
    .kind{
      font-size: 2rem;
    }
}

@media (max-width: 1024px) {
  .mainDiv {
    gap: 3.5rem;
  }
  .cardMainDiv {
    flex-direction: column;
    gap: 3.75rem;
  }
  /* .headingDiv {
    width: 33.8rem;
  }
  .headingDiv h1 {
    font-size: 4rem;
  }
  .headingDiv h2 {
    font-size: 4rem;
  }
  .topDiv {
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
  }
  .topDiv p {
    width: 40.25rem;
    font-size: 1.4rem;
  } */
  .colorText {
    font-size: 4rem;
  }
  .kind{
    font-size: 2rem;
  }
  .mainDiv{
    padding: 0 1rem;
    }

}

@media (max-width: 900px) {
  .colorText {
    font-size: 3rem;
  }
  .kind{
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .mainDiv {
    gap: 3rem;
  }
  .cardMainDiv {
    flex-direction: column;
    gap: 3.75rem;
  }
  /* .headingDiv {
    width: 32rem;
  }
  .headingDiv h1 {
    font-size: 3rem;
  }
  .headingDiv h2 {
    font-size: 3rem;
  }
  .topDiv {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    width: 32rem;
  }
  .topDiv p {
    width: 32rem;
    font-size: 1.2rem;
  } */
  .colorText {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .mainDiv {
    gap: 2.5rem;
  }
  .cardMainDiv {
    flex-direction: column;
    gap: 3.75rem;
  }
  /* .headingDiv {
    width: 27rem;
  }
  .headingDiv h1 {
    font-size: 2.5rem;
  }
  .headingDiv h2 {
    font-size: 2.5rem;
  }
  .topDiv {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    width: 27rem;
  }
  .topDiv p {
    width: 27rem;
    font-size: 1.1rem;
  } */
}
@media (max-width: 480px) {
  .mainDiv {
    gap: 2rem;
  }
  
  .cardMainDiv {
    flex-direction: column;
    gap: 3.75rem;
  }
  /* .headingDiv {
    width: 22rem;
  }
  .headingDiv h1 {
    font-size: 2.25rem;
  }
  .headingDiv h2 {
    font-size: 2.25rem;
  }
  .topDiv {
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    width: 22rem;
  }
  .topDiv p {
    width: 22rem;
    font-size: 0.75rem;
  } */
  .colorText {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .mainDiv {
    gap: 2rem;
  }
  .cardMainDiv {
    flex-direction: column;
    gap: 3.75rem;
  }
  /* .headingDiv {
    width: 19rem;
  }
  .headingDiv h1 {
    font-size: 2.25rem;
  }
  .headingDiv h2 {
    font-size: 2.25rem;
  }
  .topDiv {
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    width: 19rem;
  }
  .topDiv p {
    width: 19rem;
    font-size: 0.75rem;
  } */
  .colorText {
    font-size: 2.5rem;
  }
  .kind{
    font-size: 1.5rem;
  }
}
@media (max-width: 360px) {
  .cardMainDiv {
    flex-direction: column;
    gap: 3.75rem;
  }
  /* .headingDiv {
    width: 18rem;
  }
  .headingDiv h1 {
    font-size: 2.25rem;
  }
  .headingDiv h2 {
    font-size: 2.25rem;
  }
  .topDiv {
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    width: 18rem;
  }
  .topDiv p {
    width: 18rem;
    font-size: 0.75rem;
  } */
  .colorText {
    font-size: 2rem;
  }
  .kind{
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .cardMainDiv {
    flex-direction: column;
    gap: 3.75rem;
  }
  /* .headingDiv {
    width: 16rem;
  }
  .headingDiv h1 {
    font-size: 2.25rem;
  }
  .headingDiv h2 {
    font-size: 2.25rem;
  }
  .topDiv {
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    width: 16rem;
  }
  .topDiv p {
    width: 16rem;
    font-size: 0.75rem;
  } */
  .colorText {
    font-size: 2rem;
  }
}
