.container {
  padding: 4rem;
}

.heading {
  color: #dde759;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
  margin-top: 2.188rem;
  margin-bottom: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 70.625rem;
  text-align: justify;
  line-height: 2.188;
  color: #afafaf;
  /* margin-top: 60px; */
  padding: 0 8.69rem;
  margin-bottom: 4rem;
}

.title {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 3rem;
  font-weight: 700;
  /* margin-top: 1.25rem; */
  line-height: 3.78rem;
  color: #afafaf;
  margin-bottom: 5rem;
  /* gap: 20px; */
}

.titleImage {
  display: flex;
  flex: 1;
  max-width: 4rem;
  max-height: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  /* background: linear-gradient(
    0deg,
    rgba(144, 144, 144, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 50%
  ); */
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
}

.icons {
  height: 2.25rem;
  width: 2.25rem;
}

.button {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.syllabus {
  color: #35d870;
  background-color: #262628;
  border: 0.063rem solid #35d870;
  width: 16.313rem;
  height: 4.125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.89rem;
  border-radius: 0.25rem;
}

.materials {
  color: #afafaf;
  background-color: #262628;
  border: 1px solid #262628;
  width: 24.938rem;
  height: 4.125rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1.25rem;
  font-weight: 400;
  line-height: 1.89rem;
  border-radius: 0.25rem;
}

.materials {
  color: #afafaf;
  background-color: #262628;
  border: 1px solid #262628;
  width: 399px;
  height: 66px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 1.25rem;
  font-weight: 400;
  line-height: 30.24px;
  border-radius: 4px;
}

.materialTitle {
  line-height: 1.875rem;
  letter-spacing: 0.25rem;
}
.syllabusTitle {
  line-height: 1.875rem;
  letter-spacing: 0.25rem;
}

@media (max-width: 1024px) {
  .content {
    max-width: 46rem;
    padding: 0 3.25rem;
  }
  .title {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 3rem;
  }
  .button {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .materialTitle {
    line-height: 1.875rem;
    letter-spacing: 0.1rem;
  }
  .syllabusTitle {
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .materials {
    width: 17.375rem;
    height: 2.875rem;
    gap: 0.78rem;
  }
  .syllabus {
    width: 11.563rem;
    height: 2.875rem;
  }

  .heading {
    margin-top: 3rem;
  }
  .content {
    max-width: 21.5rem;
    padding: 0 1.688rem;
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
    line-height: 1.89rem;
    margin-bottom: 2.25rem;
  }
}

@media (max-width: 480px) {
  .materials {
    width: 17.375rem;
    height: 2.5rem;
  }
  .syllabus {
    width: 11.563rem;
    height: 2.5rem;
  }
  .title {
    font-size: 1rem;
  }
  .materialTitle {
    line-height: 1.875rem;
    letter-spacing: 0;
  }
  .syllabusTitle {
    line-height: 1.2rem;
    letter-spacing: 0;
  }
}

.titleContent {
  text-align: center;
}
