.glow1,
.glow2,
.glow3,
.glow4,
.glow5,
.glow6 {
  /* height: 100%; */
  width: 100%;
  max-width: 930px;
  position: relative;
  background: transparent;
}
.glow1::after,
.glow2::after,
.glow3::after {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;
  right: 0;
}

.glow1::after {
  box-shadow: 1rem -3rem 4rem 4rem #f8c7334d #f8c7334d;
}
.glow2::after {
  box-shadow: -3rem -1rem 4rem 4rem #35d8704d;
}
.glow3::after {
  box-shadow: 2rem 1rem 4rem 4rem #f48fd04d;
}

.cardBottom {
  display: flex;
  background-color: #262628;
  color: #afafaf;
  padding-left: 35px;
  padding-top: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  text-decoration: none;
}

.cardBottom:hover {
  text-decoration: underline;
}

.cardMiddle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #262628;
  color: #afafaf;
  padding-left: 35px;
  width: fit-content;
  padding-top: 36px;
  gap: 16px;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  padding: 35px 35px;
  border-radius: 8px;
}

.container {
  /* display: inline; */
  /* border: 2px solid red; */
  border-radius: 8px;
  width: 25rem;
  height: 374px;
  background-color: #262628;
  /* margin-bottom: 3.5rem; */
  overflow: auto;
}

/* @media (max-width: 1366px) {
  .container {
    max-width: 24rem;
  }
} */

@media (max-width: 1440px) {
  .container {
    width: 24rem;
  }
}

.headingOne {
  /* position: relative;
    justify-content: right; */

  background-color: inherit;
  color: #afafaf;
  width: fit-content;
}

.headingTwo {
  background-color: inherit;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.16px;
}

.headingThree {
  color: #ffffff;
  background-color: #262628;
  font-weight: 400;
  font-size: 24px;
  line-height: 30.24px;
}

.headingFour {
  color: #afafaf;
  background-color: #262628;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
}

@media (max-width: 768px) {
  .container {
    width: 347.48px;
    height: 324.89px;
    border-radius: 6.95px;
  }

  .cardTop {
    padding: 30.4px 30.4px;
    border-radius: 6.95px;
  }

  .cardMiddle {
    padding-left: 30.4px;
    padding-top: 30px;
    gap: 13.9px;
  }

  .cardBottom {
    padding-left: 30.4px;
    padding-top: 39px;
    font-weight: 400;
    font-size: 13.9px;
    line-height: 17.51px;
  }

  .headingTwo {
    font-weight: 500;
    font-size: 13.9px;
    line-height: 17.51px;
  }

  .headingThree {
    font-weight: 400;
    font-size: 20.85px;
    line-height: 26.27px;
  }

  .headingFour {
    font-weight: 400;
    font-size: 13.9px;
    line-height: 17.51px;
  }

  .imageStyle {
    height: 40.83px;
    width: 33.57px;
  }
}

.imageStyle {
  /* position: relative;
  justify-content: left; */
  /* background-color: inherit; */
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  /* left: 35px; */
}
