.colorText {
  font-weight: 700;
  background: linear-gradient(
    190deg,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0,
    #804ced,
    #f48fd0
  );
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}
