.cardDiv {
  display: flex;
  align-items: center;
  background: transparent;
}
.cardDiv h3 {
  z-index: 1;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  font-weight: 500;
  font-size: 0.75rem;
  background-color: white;
  color: black;
  width: 1.938rem;
  height: 6.5rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  left: calc((1rem) / 6);
  top: calc((5rem) / 1);
}
.cardBox {
  position: relative;
  left: -2%;
  width: 37.5rem;
  height: 25rem;
  box-shadow: -2.371764659881592px -2.371764659881592px 0px 0px #6b6b6b;
  border-radius: 0.5rem;
}
.cardBox:hover {
  box-shadow: 0px 0px 50px 1px white;
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
  .cardBox {
    width: 34rem;
    height: 25.16rem;
  }
}
@media (max-width: 1220px) {
  .cardBox {
    width: 28rem;
    height: 20.72rem;
  }
  .cardDiv h3 {
    width: 1.838rem;
  }
}

@media (max-width: 1024px) {
  .cardBox {
    width: 37.5rem;
    height: 25rem;
  }
  .cardDiv h3 {
    width: 1.938rem;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .cardBox {
    width: 31rem;
    height: 22.94rem;
  }
  .cardDiv h3 {
    width: 1.838rem;
  }
}

@media (max-width: 550px) {
  .cardBox {
    width: 26rem;
    height: 19.24rem;
  }
  .cardDiv h3 {
    width: 1.738rem;
    font-size: 0.7rem;
    top: calc((4rem) / 1);
  }
}
@media (max-width: 480px) {
  .cardBox {
    width: 21rem;
    height: 15.54rem;
  }
  .cardDiv h3 {
    width: 1.7rem;
    height: 5.5rem;
    font-size: 0.6rem;
    top: calc((3rem) / 1);
  }
}
@media (max-width: 400px) {
  .cardBox {
    width: 19rem;
    height: 14.06rem;
  }
  .cardDiv h3 {
    width: 1.5rem;
    height: 5rem;
    font-size: 0.55rem;
    top: calc((5rem) / 2);
  }
}
@media (max-width: 360px) {
  .cardBox {
    width: 17rem;
    height: 12.58rem;
  }
  .cardDiv h3 {
    width: 1.3rem;
    height: 4.8rem;
    font-size: 0.5rem;
    top: calc((4rem) / 2);
  }
}
@media (max-width: 320px) {
  .cardBox {
    width: 16rem;
    height: 11.84rem;
  }
}
