.subHeading {
  color: #afafaf;
  font-weight: 400px;
  font-size: 24px;
  width: 100%;
  text-align: center;
  line-height: 30.24px;
  letter-spacing: 1rem;
}

@media (max-width: 550px) {
  .subHeading {
    font-size: 1.25rem;
    line-height: 1.575rem;
    letter-spacing: 0.5rem;
  }
}
