.pageHeading {
  font-size: 80px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #ffffff;
  line-height: 100.8px;
}

@media (max-width: 500px) {
  .pageHeading {
    font-size: 36px;
    font-weight: 700;
    line-height: 45.36px;
  }
}
