.searchBar {
  display: flex;
  width: 100%;
  height: 4.125rem;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}

.inputContainer {
  padding: 1.25rem 1.25rem 0.563rem 0.69rem;
  background-color: #303030;
  width: 31.813rem;
  height: 4.125rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.125rem;
  width: 4.125rem;
  background-color: #303030;
}

@media (max-width: 1366px) {
  .searchBar {
    height: 4.125rem;
    gap: 2.25rem;
  }

  .inputContainer {
    padding: 1.25rem 1.25rem 0.563rem 0.69rem;
    width: 25.79rem;
    height: 4.125rem;
  }

  .iconContainer {
    height: 4.125rem;
    width: 4.125rem;
  }
}

@media (max-width: 768px) {
  .searchBar {
    height: 2.579rem;
    gap: 1.25rem;
  }

  .inputContainer {
    padding: 0.6rem 0.6rem 0.36rem 0.47rem;
    width: 19rem;
    height: 2.579rem;
  }

  .iconContainer {
    height: 2.579rem;
    width: 2.579rem;
  }
}

@media (max-width: 550px) {
}
@media (max-width: 480px) {
  .searchBar {
    height: 2.25rem;
    gap: 1rem;
  }

  .inputContainer {
    padding: 0.2rem 0.6rem 0.1rem 0.1rem;
    width: 18rem;
    font-size: 0.781rem !important;
    height: 2.25rem;
  }

  .iconContainer {
    height: 2.25rem;
    width: 2.25rem;
  }
}
@media (max-width: 400px) {
  .inputContainer {
    padding: 0.2rem 0.6rem 0.1rem 0.1rem;
    width: 16rem;
  }
}
@media (max-width: 360px) {
  .inputContainer {
    padding: 0.2rem 0.6rem 0.1rem 0.1rem;
    width: 15rem;
  }
}
@media (max-width: 320px) {
}
