.bigButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.25rem;
  /* padding: 1.25rem; */
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  max-width: 82rem;
  /* margin: 7.125rem 0 6.125rem 0; */
}

@media (max-width: 1366px) {
  .selection {
    flex-direction: column;
  }
}

@media (max-width: 1220px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 900px) {
}
@media (max-width: 768px) {
  .selection {
    gap: 2rem;
  }
  .bigButtons {
    gap: 1.25rem;
  }
}
@media (max-width: 550px) {
}
@media (max-width: 480px) {
}
@media (max-width: 400px) {
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}
